html,
body {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 1000px;
}

.wrapper {
    display: grid;
    grid-template-columns: [col-start] 1fr [separator-left] 1fr [separator-right] 1fr [col-end];
    grid-template-rows: [row-start] 1fr [separator-top] 1fr [separator-bottom] 1fr [row-end];
    grid-template-areas: ". header ." "content . ads" "footer footer footer";
    height: 500px;
    width: 500px;
}

.header {
    grid-area: header;
    background-color: blue;
}

.content {
    grid-area: content;
    background-color: green;
}

.footer {
    grid-area: footer;
    background-color: purple;
}