html,
body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: [start] 100px [top-separator] 1fr bottom-separator 100px [end];
}

.header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    background: lightblue;
}

.content {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    background: lightpink;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    background: palegoldenrod;
}